#page {
  display: grid;
  width: 100%;

  grid-template-areas: "header header header header header "
                       "nav2 main main main nav"
                       "nav2 main4 main5 main2 nav"
                       "nav2 main3 main3 main2 nav"
                       "footer footer footer footer nav";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 100px 100px 100px 50px;
}

#page > header {
  grid-area: header;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > nav {
  grid-area: nav;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > main {
  grid-area: main;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > footer {
  grid-area: footer;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}
#page > nav2 {
  grid-area: nav2;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > main2 {
  grid-area: main2;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > main4 {
  grid-area: main4;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > main5 {
  grid-area: main5;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

#page > main3 {
  grid-area: main3;
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}
